.calls-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.call {
	display: flex;
	padding: 0.75em 0.1em 0.75em 0.75em;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #cecece;
	border-radius: 15px;
	margin-top: 1.5em;
	background-color: white;
	width: 95%;
}

.call-icon {
	margin: 0 1em 0 0.5em;
}

.call-direction {
	display: flex;
	align-items: center;
}

.call-end {
	display: flex;
	align-items: center;
	width: 20%;
	justify-content: space-between;
	color: #8a8a8a;
}

.callers {
	padding: 0.2em 0;
	height: 2.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.callers > p {
	margin: 0;
}

.am-pm {
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	font-size: 0.8em;
	font-weight: bold;
	/* color: #8a8a8a; */
	padding: 2px 3px;
	border-radius: 2px 0px 0px 2px;
}

.time {
	margin: 0 0.3em;
	font-weight: bold;
	/* color: #8a8a8a; */
}


.options-icon {
	/* color: #8a8a8a; */
}

.options {
	display: flex;
	flex-direction: column;
	position: relative;
}

.dropdown {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	/* padding: 0.5em; */
	/* width: 5em; */
	position: absolute;
	margin: 1.4em 0em 0 -1em;
}

.archive {
	padding: 0.35em 0.6em;
	border: 0.1em solid orange;
	border-radius: 25px;
	background-color: white;
	color:#000;
	text-align:center;
	transition: all 0.2s;
}

.archive:hover{
	color: white;
	background-color:orange;
}

.sender {
	font-weight: bold;
	color: #545454;
}

.receiver {
	font-size: 0.9em;
	font-style: italic;
	color: #a2a2a2;
}
.receiver > span {
	font-weight: bold;
	color: #545454;
}

/* Call detail */

.call-detail {
	/* display: flex; */
	width: 80%;
	padding: 1em;
	background-color: white;
	border-bottom: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-radius: 15px;
}

.detail-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	align-items: flex-start;
	/* margin-bottom: 0.5em; */
}

.detail-header > p {
	margin: 0;
}

.detail-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
}

.call-status {
	/* width: 1em; */
	color: white;
	padding: 0.5em 1em;
	border: 1px solid #cecece;
	border-radius: 7px;
}

.detail-date {
	width: 50%;
	color: #8a8a8a;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}	

.direction {
	width: 1.5em;
}

.call-id {
	display: flex;
	align-items: center;
	width: 40%;
	justify-content: space-between;
}